<form action="/films" method="post">
    <input type="text" name="title" placeholder="Titulo de la pelicula">
    <input type="text" name="release_date" placeholder="Fecha YYYY-MM-DD">
    <input type="submit" value="Enviar pelicula">
</form>